<!doctype html>
  <html>
    <head>
      <title>The Mystery Word Game</title>
      <link rel="stylesheet" href="/css/styles.css">
    </head>
  <body>


    <section>
          <p> Welcome back, {{#users}}{{name}}{{/users}}</p>
    <h3>The Mystery Word Game</title>
      <p> Please select your level of difficulty:</p>
      <p> Easy mode will select words with four and six letters.</p>
      <p> Regular mode will select words with six to eight letters.</p>
      <p> Hard mode will contains words greater than eight letters.</p>
    </section>
    <main>
      <form method="post" action="/guess">
        <input type = "text" name="guess" id="guess" placeholder="Guess a letter">
        <input type = "submit" value="submit">
      <form>
        <p>Guess the word {{#storedWord}}<figure><div>{{ . }}</div></figure>{{/storedWord}}</p>
        <p>Guessed Letters: {{#storedGuess}}{{ . }}{{/storedGuess}}</p>
    </main>

  </body>
  </html>
