<!doctype html>
  <html>
    <head>
      <title> Login</title>
      <link rel="stylesheet" href="/css/styles.css">
    </head>
  <body>
    <form method="post" action="/login">
      <input type="text" name="username" id="username" placeholder="Enter Username">
      <input type="password" name="password" id="password" placeholder="Enter password">
      <p> Select your level of Difficulity</p>
      <label for="easy">Easy</label>
        <input type="radio" name ="easy" id="easy" value="easy">
      <label for="normal">Normal</label>
        <input type="radio" name ="normal" id="normal" value="normal">
      <label for="hard">Hard</label>
        <input type="radio" name ="hard" id="hard" value="hard">
      <input type ="submit" value="submit">
    </form>
  </body>
  </html>
