<!doctype html>
  <html>
    <head>
      <title>Signup</title>
    </head>
    <body>
      <form method="post" action="/signup">
        <input type="text" name="username" id="username" placeholder="Please enter a username">
        <input type="text" name="name" id="name" placeholder="Please enter your name">
        <input type="password" name="password" id="password" placeholder="please enter your password">
        <input type="password" name="reenter" id="reenter" placeholder="Please renter your password">
        <input type="submit" value="Submit">
      </form>
    </body>
</html>
